:root{
    --cultured:#f5f5f5;
    --gainsBoro:#d9d9d9;
    --morningBlue:#8DB0AC;
    --richBlack:#10302D;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: Nunito, sans-serif;
    background-color: var(--cultured);
}

body{
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-rows: 60px repeat(5, auto) 60px; */
}

header{
    z-index: 1;
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2,minmax( 160px, 1fr));
    grid-template-rows:  60px;
    font-size: 2rem;
    background-color: var(--gainsBoro);
}

.nav-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,60px);
    justify-items: end;
}

.nav-container > .nav-container__ico{
    width: 40px;
    height: 40px;
    align-self: center;
    margin-inline-end:10px ;
}

.nav-container > .active > svg{
    fill: var(--morningBlue);
}

.nav-container__ico > svg {
    fill:var(--richBlack);
}

.nav-container__list{
    width: 100%;
    z-index: 6;
    margin-block-start:10px ;
    margin-inline-end: 10px;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,40px);
    list-style: none;
}

.nav-container__list > .nav-container__list_listItem{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-weight: 500;
    padding-block-start:5px;  
    background-color: var(--gainsBoro);
    color: var(--richBlack);
    opacity: 0;
    pointer-events: none;
}

.nav-container__list > .nav-container__list_listItem > a{
    text-decoration: none;
    color: inherit;
    
}
.nav-container__list> .git{
    grid-row: 1 / 2;
    border-radius: 5px 5px 0 0;
}

.nav-container__list > .linkin{
    grid-row: 2 / 3;
}

.nav-container__list > .contactame{
    grid-row: 3 / 4;
    border-radius: 0 0 5px 5px;
}

.nav-container__list_listItem > a > svg {
    width: 25px;
    height: 25px;
    fill: var(--richBlack);
    margin-left: 5px;
    vertical-align: text-bottom;
} 

.nav-container__list > .activeItem{
    opacity: 1;
    pointer-events: visible;
}

.intro{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
}

.intro{
    z-index: 0;
}
.intro__item, .skills__item{
    position: relative;
    width: 100%;
    height: 320px;
    display: grid;
    grid-template-columns: repeat(8,minmax( 40px, 112.5px));
    grid-template-rows: repeat(5,1fr);

}

.intro > text{
    background-color: var(--cultured);
}

.intro__item_background-triangle{
    position: absolute;
    z-index: 1;
    width:100%;
    height:100%;
    grid-column: 1 / 9;
    grid-row: 1/6;
    background: var(--richBlack);
    clip-path: polygon(0% 100%, 100% 0,100% 100%); 
}

.intro__item_p{
    font-size: 2.5rem;
    font-weight: 500;
}

.intro__item > .top{
    grid-column: 1 / 6;
    grid-row: 2 / 4;
    margin-inline-start: 10px;
    margin-block-start: -20px;
    color: var(--richBlack);
}

.intro__item > .bottom{
    z-index: 3;
    grid-column: 4 / 9;
    grid-row: 5 / 7;
    margin-inline-start: 15px;
    color: var(--cultured);
}

.intro > .photo{
    display: flex;
    height: 320px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: var(--richBlack);
}
.photo > .intro__item_circle{
    align-self: center;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin-block-end: 20px;
    background-color: var(--cultured);
    clip-path: circle(50%);
}
.intro__item_circle > .intro__item_circle_circle{
    align-self: center;
    display: flex;
    justify-content: center;
    width: 180px;
    height: 180px;
    background-color: var(--gainsBoro);
    clip-path: circle(50%);
}

.intro__item_circle_circle > picture{
    align-self: center;
    width: 180px;
    height: 180px;
    clip-path: circle(50%);
}

.intro__item_circle_circle > picture > img{
    width: 180px;
    height: 180px;
    background-image: url(../assets/images/photo.png);
}


.photo > .intro__item_name{
    font-size: 2rem;
    font-weight: 500;
    color: var(--cultured);
}

.photo > .intro__item_degree{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--gainsBoro);
}

.about-me{
    display: inline-grid;
    position: relative;
    grid-template-columns: minmax(280px , 320px);
    grid-template-rows: 80px 180px 80px ;
    background-color: var(--cultured);
    overflow: hidden;
    
}

.about-me__title{
    grid-row: 1 / 2;
    margin-block-start: 20px;
    margin-inline-start: 20px;
    font-size: 2.8rem;
    font-weight: 500;
    color: var(--richBlack);
}

.about-me__p{
    z-index: 2;
    grid-row: 2 / 3;
    margin-block-start: 20px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    font-size: 2rem;
    font-weight: 400;
    color: var(--richBlack);
}

.about-me >.about-me__circle{
    position: absolute;
    width: 266px;
    height: 266px;
    justify-self: end;
    align-self: end;
    top:200px;
    left: 200px;
    display: flex;
    justify-content: center;
    background-color: var(--gainsBoro);
    clip-path: circle(50%);
}

.about-me >.about-me__circle > .about-me__circle_circle{

    display: flex;
    align-self: center;
    width: 203px;
    height: 203px;
    justify-content: center;
    background-color: var(--morningBlue);
    clip-path: circle(50%);
}

.about-me >.about-me__circle > .about-me__circle_circle
> .about-me__circle_circle_circle{

    display: flex;
    align-self: center;
    width: 144px;
    height: 144px;
    justify-content: center;
    background-color: var(--richBlack);
    clip-path: circle(50%);
}


.skills{
    display: grid;
    background-color: var(--gainsBoro);
} 

.skills > .skills__title{
    width: 170px;
    height: 57px;
    grid-row: 1 / 2;
    justify-self: end;
    display: flex;
    justify-content: center;
    border-radius: 0 0 0 5px;
    margin-block-end: 20px;
    background-color: var(--morningBlue);
    color: var(--cultured);
}

.skills > .skills__title > h2, .projects > .projects__title > h2{
    font-size: 2.8rem;
    font-weight: 500;
    align-self: center;
}

.skills > .skills__container{
    display: grid;
    padding-inline-start: 35px;
    padding-inline-end: 35px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    margin-block-end: 20px;

}

.skills__container_rol >h3{
    font-size: 2rem;
    font-weight: 400;
    color: var(--richBlack);
}

.skills__container_rol > div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
}

.logo-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 100px;
}

.logo-container > span {
    font-size: 1.6rem;
    color: var(--richBlack);
}

.logo-container > svg {
    width: 50px;
    height: 50px;
    fill-rule:evenodd;
    fill: var(--richBlack);
}

.projects{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--cultured);
}

.projects > .projects__title{
    width: 170px;
    height: 57px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-block-end: 60px;
    color: var(--cultured);
    background-color: var(--morningBlue);
    border-radius: 0 0 5px 0;
}

.projects > .projects__projects-container{
        display: flex;
        height: 320px;
        margin-block-end: 60px;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
}

.projects__projects-container__item{
    display: flex;
    scroll-snap-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-width: 200px;
    max-width: 300px;
    height: 300px;
    background-color: var(--gainsBoro);
    color: var(--richBlack);
    border-radius: 5px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}

.projects__projects-container__item > h3{
    font-size: 1.4rem;
    font-weight: 500;
}

.projects__projects-container__item > p{
    width: 155px;
    margin-block-start: 5px;
    font-size: 1.2rem;
    font-weight: 400;
}

.projects__projects-container__item img{
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    width: 183px;
    height: 140px;
    object-fit: cover;
    border-radius: 5px;
}

.projects__projects-container__item > a{
    align-self: flex-end;
    margin-inline-end: 10px;
}

.projects__projects-container__item > a > svg{

    width: 2.7rem;
    height: 3.2rem;
    fill: var(--morningBlue);

}

.contact{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    height: 320px;
    color: var(--richBlack);
    background-color: var(--gainsBoro);
}

.contact > h3 , .contact > h2, .contact > span{
    margin-inline-start: 30px;
    margin-block-start: 10px;
} 

.contact > h2{
    margin-inline-start: 20px;
    margin-block-start: 20px;
    font-size: 2.8rem;    
}

.contact > h3{
    font-size: 2rem;

}

.contact > span{
    font-size: 1.6rem;
    font-weight: 400;
}

.contact > .contact__triangle{
    width: 85.74px;
    height: 74.25px;
    align-self: end;
    background-color: var(--richBlack);
    clip-path: polygon(0% 100%, 100% 0,100% 100%); 
}
footer{
    display: flex;
    justify-content: space-evenly;
    min-width: 320px;
    height: 60px;
    background-color: var(--morningBlue);
}

footer > div{
    display: flex;
    align-items: center;
}

footer > div > .footer__ico{
    width: 40px;
    height: 40px;
}

.footer__ico > svg{
    fill: var(--gainsBoro);
}