/* 

.container__nav{
    
    grid-template-columns: repeat(auto-fit,minmax(160px, 1fr));
} */

.nav-container{
    width: 100%;
    grid-template-rows: 60px;
}

.nav-container > .nav-container__ico{
    display: none;
}

.nav-container__list{
    display: flex;
    flex-direction: row-reverse;
    justify-self: end;
    margin-block-start: 0;
    margin-inline-end: 0;
}

.nav-container__list > .nav-container__list_listItem {
    width: auto;
    display: inline-block;
    padding-block-start: 15.5px;
    margin-inline-end: 15px;
    opacity: 1;
    pointer-events: visible;
    background-color: transparent;
}

.git{
    order: 3;
}
.linkin{
    order: 2;
}
