header{
    background-color: var(--darkSeaGreen);
}

.container__nav{
    
    grid-template-columns: repeat(auto-fit,minmax(160px, 1fr));
}

.container__ul{
    width: 100%;
    grid-template-rows: 60px;
}

.container__ul > .item__button{
    display: none;
}

.dropdown-ul{
    display: flex;
    flex-direction: row-reverse;
    justify-self: end;
    margin-inline-end: 0;
}

.dropdown-ul > .drop-ul__li {
    width: auto;
    display: inline-block;
    padding-block-start: 15.5px;
    margin-inline-end: 15px;
    opacity: 1;
    pointer-events: visible;
    background-color: transparent;
}

.git{
    order: 3;
}
.linkin{
    order: 2;
}

.projects > .projects-info__container{
    justify-content: center;
    overflow: none;
}